<div class="wrapper">
    <div class="grid">
        <h1 class="title-lg">{{title}}</h1>
        <p class="description">{{description}}</p>
        <img src="assets/images/tiger_kote.jpg" alt="">
        <nav class="">
            <ul class="clear-ul inline-ul">
                <li>
                    <a id="tiger" routerLink="/tiger" routerLinkActive="active">
                        TIGER
                    </a>
                </li>
                <li>
                    <a id="panther" routerLink="/panther" routerLinkActive="active">
                        PANTHER
                    </a>
                </li>
                <li>
                    <a id="pziv" routerLink="/pziv" routerLinkActive="active">
                        PZIV
                    </a>
                </li>
            </ul>
        </nav>
        <app-panzers></app-panzers>
        <app-panzers-2></app-panzers-2>
        <app-panzers-3></app-panzers-3>
    </div>
</div>
