.clear-ul{
    list-style: none;
    margin: 20px 0;
    padding: 0;
}
.panzer-list{
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}
.panzer-list li {
    float: left;
    width: 20%;
    padding: 10px;
}
.panzer-list .img-wrap{
  height: 12vw;
  max-height: 160px;
}
.panzer-list img{
    display: block;
    height: 100%;
    width: 100%;
}
